<%= form_for @question do |f| %>
	
	<% if @question.errors.any? %>
		<div class="alert alert-danger">
		  <strong><%= pluralize(@question.errors.count, "error") %> prohibited
			this question from being saved:</strong>
		  <ul>
			<% @question.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
		  </ul>
		</div>
	  <% end %>

	<div class="row">
	  <div class="col-md-8 title title_question">
		<%= f.text_field :question %>
	  </div>
	  <div class="col-md-4 btns block bigscreen">
		<%= link_to 'Cancel', questions_path, :class => "link-back" %>        
		<%= f.submit "Update question", :class => "btn btn-info" %>
	  </div>
	</div>

	<div class="row question_icon">
		<div class="col-md-8 block">
			<div class="col-md-4">
				<%= image_tag ("ico-simple.png") %><br>
				<%= f.label :Open_question %>
				<%= f.radio_button :question_type, "open" %>
			</div>
			<div class="col-md-4">
				<%= image_tag ("ico-image.png") %><br>
				<%= f.label :Question_with_an_image %>
				<%= f.radio_button :question_type, "multiple_choice_image" %>
			</div>
			<div class="col-md-4">
				<%= image_tag ("ico-multiple.png") %><br>
				<%= f.label :Multiple_choice%>
				<%= f.radio_button :question_type, "multiple_choice" %>
			</div>
		</div>
	</div>
	<div class="smallscreen block">
		<%= link_to 'Cancel', questions_path, :class => "link-back" %>        
		<%= f.submit "Update question", :class => "btn btn-info" %>
	</div>
<% end %>