<%#= link_to 'Add a new question', new_question_path, :class => 'btn btn-info location_btn' %>
<button type="button" class="btn btn-info location_btn" data-toggle="modal" data-target="#addQuestion">Add a new question</button>
<table id="questions" class="table table-hover">
  <tbody>
  <% @questions.each do |question| %>
      <tr>
        <td class="l_title"><strong><%= question.question %></strong></td>
        <td class="td_destroy"><%= link_to 'To Answers', question_path(question), :class => "btn btn-default" %><%= link_to 'Edit', edit_question_path(question), :class => "btn btn-success btn-middle" %><%= link_to image_tag("destroy"), question_path(question), method: :delete, data: { confirm: 'Are you sure?', swal: {text: 'By confirming this you will delete this question', type: 'warning', confirm_button_text: 'Ok'} }, :class => "btn btn-danger" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div id="addQuestion" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">What for question type do you want to add?</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-4">
            <%= image_tag ("ico-simple.jpg") %>
            <p>Open question</p>
          </div>
          <div class="col-xs-4">
            <%= image_tag ("ico-image.jpg") %>
            <p>Question with an image</p>
          </div>
          <div class="col-xs-4">
            <%= image_tag ("ico-multiple.jpg") %>
            <p>Multiple choice</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Create question</button>
      </div>
    </div>

  </div>
</div>