<% if @question.multiple_choice == true %>
<h1>Question with multiple choice</h1>
<div class="row">
  <div class="col-md-7 title block">
    <%= @question.question %>
  </div>
  <%= form_for([@question, @question.answers.build]) do |f| %>
    <div class="col-md-4 btns block bigscreen col-md-offset-1">
      <%= link_to 'Cancle', questions_path, :class => "link-back" %>    
      <%= f.submit "Create answer", :class => "btn btn-success" %>      
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 create_answer block">
      <%= f.label :answer %>
      <%= f.text_field :answer %>
      <br>
      <%= f.label :correct %>
      <%= f.check_box :correct %>
    </div>

  </div>
  <% end %>

<table class="table table-hover">
  <thead>
    <th>Answer</th>
    <th>Correct</th>
    <th>#</th>
  </thead>
  <tbody>
    <% @question.answers.each do |answer| %>
    <tr>
        <td><%= answer.answer %></td>
        <td><%= answer.correct %></td>
        <td><%= link_to 'Destroy', [answer.question, answer],
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @question.multiple_choice_image == true %>
    <row>
    <% @question.answers.each do |answer| %>
      <div class="col-md-4">
        <%= image_tag answer.picture_url.to_s, size: "300" %>

          <% if answer.correct? %>
            <p>Correct</p>
          <% else %>
            <br>
          <% end %>

        <%= link_to 'Destroy', [answer.question, answer],
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
      </div>
    <% end %>
    </row>
    <br>
    <div class="jumbotron col-md-12">
      <h2>Add Answer</h2>
      <%= form_for([@question, @question.answers.build]) do |f| %>
          <p>
            <%= f.file_field :picture %>
          </p>
          <p>
            <%= f.label :correct %>
            <%= f.check_box :correct %>
          </p>
          <p>
            <%= f.submit %>
          </p>
      <% end %>
      <%= link_to 'back', questions_path, :class => "btn btn-default" %>
    </div>
<% end %>

<% if @question.open == true %>
    Dit is een open vraag<br>
    <%= link_to 'back', questions_path, :class => "btn btn-default" %>
<% end %>


