<% if @question.multiple_choice == true %>
<h1>Question with multiple choice</h1>
<div class="row">
  <div class="col-md-7 title block">
	 <%= @question.question %>
  </div>
  <%= form_for([@question, @question.answers.build]) do |f| %>
	 <div class="col-md-4 btns block bigscreen col-md-offset-1">
		<%= link_to 'Cancle', questions_path, :class => "link-back" %>    
		<%= f.submit "Create answer", :class => "btn btn-success" %>      
	 </div>
  </div>

  <div class="row">
	 <div class="col-md-7 create_answer block">
		<%= f.label :answer %>
		<%= f.text_field :answer %>
		<br>
		<%= f.label :correct %>
		<%= f.check_box :correct %>
	 </div>

  </div>
  <% end %>

  <table id="answers" class="table table-hover">
  	<thead>
  		<tr>
  			<th>Answer</th>
  			<th>Correct</th>
  			<th>Destroy</th>
  		</tr>
  	</thead>
  	<tbody>
		<% @question.answers.each do |answer| %>
			<tr>
				<td class="l_title"><%= answer.answer %></td>
				<td><%= answer.correct %></td>
				<td class="td_destroy">
					<%= link_to image_tag("destroy"), [answer.question, answer], method: :delete, data: { confirm: 'Are you sure?', swal: {text: 'By confirming this you will delete this location', type: 'warning', confirm_button_text: 'Ok'} }, :class => "btn btn-danger" %>
				</td>
			</tr>
		<% end %>
  	</tbody>
  </table>
<% end %>

<% if @question.multiple_choice_image == true %>
	<h1>Question with images</h1>
	<div class="row">
		<div class="col-md-7 title">
			<div class="block"><%= @question.question %></div>
		</div>
	<%= form_for([@question, @question.answers.build]) do |f| %>
		<div class="col-md-5 btns block bigscreen">
			<%= link_to 'Cancle', questions_path, :class => "link-back" %>
			<%= f.submit "Add image", :class => "btn btn-info"  %>
		</div>		
	</div>

	<div class="row">
		<div class="col-md-7">
			<div class="block">			
				<h2>Images</h2>
				<%= f.label :Choose_a_picture %>
				<%= f.file_field :picture %>
				<br>
				<%= f.label :correct %>
				<%= f.check_box :correct %>	
			</div>
		</div>
		<div class="col-md-5 block">
			<% @question.answers.each do |answer| %>
			<div class="col-md-4 picture_row">
				<%= image_tag answer.picture_url.to_s, size: "100", :class => "thumbnail" %>
				<% if answer.correct? %>
					<%= image_tag("checked.png", :class => "correct") %>
				<% end %>
				<%= link_to image_tag("cancel"), [answer.question, answer], method: :delete, data: { confirm: 'Are you sure?', swal: {text: 'By confirming this you will delete this location', type: 'warning', confirm_button_text: 'Ok'} }, :class => "btn-del" %>
			</div>
		<% end %>
		</div>
			
	<!-- </div> -->
	<!-- <div class="row block pictures_block"> -->
		
	</div>
	<% end %>
<% end %>

<% if @question.open == true %>
	 Dit is een open vraag<br>
	 <%= link_to 'back', questions_path, :class => "btn btn-default" %>
<% end %>


