<h2>Groups</h2>
<%= link_to 'Add a new Group', new_group_path, :class => 'btn btn-info location_btn' %>

<table id="groups" class="table table-hover">
    <!-- <thead>
        <tr>
            <th>Group</th>
            <th>ID</th>
            <th>Destroy</th>
        </tr>
    </thead> -->
    <tbody>
    <% @groups.each do |group| %>
    <tr>
        <td class="l_title"><strong><%= group.group %></strong></td>
        <td class="group_key"><strong>ID: <%= group.key %></strong></td>
        <td class="td_destroy"><%= link_to 'Show', group_path(group), :class => 'btn btn-default' %></td>
        <td class="td-destroy"><%= link_to image_tag("destroy"), group_path(group), method: :delete, data: { confirm: 'Are you sure?', swal: {text: 'By confirming this you will delete this location', type: 'warning', confirm_button_text: 'Ok'} }, :class => "btn btn-danger" %></td>
    </tr>
    <% end %>
    </tbody>
</table>
