<h2>New Group</h2>

<%= form_for @group do |f| %>

    <% if @group.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@group.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @group.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <div class="row">
    <div class="col-md-8 title">
      <%= f.text_field :group, :class => "form-control", placeholder: "Enter the name of the group here..." %>
      <%= f.hidden_field :key %>
    </div>
    <div class="col-md-4 btns block bigscreen">
      <%= link_to 'Cancel', groups_path, :class => "link-back" %>
      <%= f.submit 'Create group', :class => "btn btn-success" %>
    </div>
  </div>
<% end %>