<div class="row">
	<div class="col-md-4 title">
		<div class="block"><%= @group.group %></div>
  </div>
  <div class="col-md-3 title">
    <div class="block">ID:<%= @group.key %> </div>
  </div>
  	<div class="col-md-5 btns bigscreen">
  		<%= link_to 'Done', groups_path, :class => "btn btn-info float-right" %>
  	</div>
</div>

<% if @group.errors.any? %>
  <div id="error_explanation">
    <h2>
    <%= pluralize(@group.errors.count, "error") %> prohibited this student from being saved:
    </h2>
      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
<% end %>

<div class="row">
	<div class="col-md-7">
		<div class="block"><h3>Students</h3>
      <table id="students" class="table table-hover">
        <thead>
          <th>Name</th>
          <th>Destroy</th>
        </thead>
        <tbody>
        <% if @group.students.empty? %>
            <tr>
              <td>There are no students to display</td>
              <td></td>
            </tr>
        <% else %>
          <% @group.students.each do |student| %>
            <tr>
              <td><%= student.name %></td>
              <td><%= link_to image_tag("destroy"), [student.group, student], method: :delete,
                              data: { confirm: 'Are you sure?', swal: {text: 'By confirming this you will delete this location',
                              type: 'warning', confirm_button_text: 'Ok'} }, :class => "btn btn-danger" %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
	</div>
	<div class="block col-md-5 add_students">
		<h3>Add Student</h3>
		<%= form_for ([@group, @group.students.build]) do |f| %>
		  <p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		  </p>
		  <p>
			<%= f.submit "Add student", :class => "btn btn-success" %>
		  </p>
		<% end %>
	</div>	
</div>