<h1>Groups</h1>
<div class="row">
	<div class="col-md-7 title">
		<div class="block"><%= @group.group %></div>
  	</div>
  	<div class="col-md-5 btns block bigscreen">
  		<%= link_to 'Cancel', groups_path, :class => "link-back" %>
  		<%= link_to 'Done', questions_path, :class => "btn btn-info" %> 		  	
  	</div>
</div>

<div class="row">
	<div class="col-md-7">
		<div class="block"><h3>Students</h3><table id="students" class="table table-hover">
			<thead>
				<th>Name</th>
				<th>Destroy</th>
			</thead>
			<tbody>
			<% @group.students.each do |student| %>
				<tr>
					<td><%= student.name %></td>
					<td><%= link_to 'Destroy', [student.group, student],
										  method: :delete,
										  data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
				</tr>
			<% end %>
			</tbody>
		</table></div>
	</div>
	<div class="block col-md-5 add_students">
		<h3>Add Student</h3>
		<%= form_for ([@group, @group.students.build]) do |f| %>
		  <p>
			<%= f.label :name %>
			<%= f.text_field :name %>
		  </p>
		  <p>
			<%= f.submit "Add student", :class => "btn btn-success" %>
		  </p>
		<% end %>
	</div>	
</div>