<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.email_field :email, autofocus: true, :class => "login-form", placeholder: "Username" %>
  </div>

  <div>
    <%= f.password_field :password, autocomplete: "off", :class => "login-form", placeholder: "Password" %>
  </div>

  <div class="forgot-password">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "forgot-password" %>
      <% end -%>
  </div>

  <div>
      <%= f.submit "To the dashboard", :class => "dashboard-login" %>
  </div>
<% end %>



