<%= form_for @location do |f| %>
 
  <% if @location.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@location.errors.count, "error") %> prohibited
        this location from being saved:</strong>
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8 title">
      <%= f.text_field :title, :class => "form-control", placeholder: "Enter the name of the location here..." %>
    </div>
    <div class="col-md-4 btns block bigscreen">
      <%= link_to 'Cancel', locations_path, :class => "link-back" %>
        <%= f.submit :class => "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 description_text">
      <%= f.text_area :text, :class => "form-control", placeholder: "Insert your text here..." %>
    </div>
    <div class="col-md-4 block coordinates">
        <h3>Info</h3>
        <%= f.label :Longitude, :class => "label_xy" %>
        <%= f.text_area :x %>
        <br>
        <%= f.label :Latitude, :class => "label_xy" %>
        <%= f.text_area :y %>
        <br>
        <%= f.label :Question, :class => "label_xy" %>
        <%= f.collection_select :question_id, Question.all, :id, :question %>
        <br>
        <%= f.label :Image, :class => "label_xy" %>
        <%= f.file_field :image, :class => "location_image" %>
    </div>
  </div>
  <div class="smallscreen block">
    <%= link_to 'Cancel', locations_path, :class => "link-back" %>
    <%= f.submit :class => "btn btn-success" %>
  </div>

  <div>
    
  </div>
      
<% end %>