<%= form_for @location do |f| %>
 
  <% if @location.errors.any? %>
    <div class="alert alert-danger">
      <strong><%= pluralize(@location.errors.count, "error") %> prohibited
        this location from being saved:</strong>
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex">
    <div class="title">
      <div>
        <%= f.text_field :title, :class => "form-control", placeholder: "Enter the name of the location here..." %>
      </div>
      <div>
        <%= f.text_area :text, :class => "form-control", placeholder: "Insert your text here..." %>
      </div>
    </div>
    <div>
      <div class="block btns">
        <%= link_to 'Cancle', locations_path, :class => "link-back" %>
        <%= f.submit :class => "btn btn-success" %>
      </div>
      <div class="block">
        <p>Coordinaten</p>
        <%= f.label :x %>
        <%= f.text_area :x, :class => "form-control" %>

        <%= f.label :y %>
        <%= f.text_area :y, :class => "form-control" %>

        <%= f.collection_select :question_id, Question.all, :id, :question %>

      </div>
    </div>
  </div>
<% end %>