<%= link_to 'Add a new location', new_location_path, :class => 'btn btn-info location_btn' %>
<table id="locations" class="table table-hover">
	<!-- <thead>
		<tr>
			<th>Title</th>
			<th>Show</th>
			<th>Edit</th>
			<th>Destroy</th>
		</tr>
	</thead> -->
	<tbody>
		<% @locations.each do |location| %>
			<tr>
				<td class="l_title"><strong><%= location.title %></strong></td>
				<td class="td_destroy"><%= link_to 'Show', location_path(location), :class => 'btn btn-default' %><%= link_to 'Edit', edit_location_path(location), :class => 'btn btn-success btn-middle' %><%= link_to image_tag("destroy"), location_path(location), method: :delete, data: { confirm: 'Are you sure?', swal: {text: 'By confirming this you will delete this location', type: 'warning', confirm_button_text: 'Ok'} }, :class => "btn btn-danger" %></td>
			</tr>
		<% end %>
	</tbody>
</table>