<h2>Location</h2>
<table class="table table-hover"> 
    <thead>
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th>x</th>
        <th>y</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @location.title %></td>
          <td><%= @location.text %></td>
          <td><%= @location.x %></td>
          <td><%= @location.y %></td>          
        </tr>
    </tbody>
</table>

<%= link_to 'Vraag', question_answer_path(@question), :class => "btn btn-default" %>
<%= link_to 'Edit', edit_location_path, :class => "btn btn-default" %>
<%= link_to 'Back', locations_path, :class => "btn btn-default" %>