<!DOCTYPE html>
<html>
<head>
 <title>CMS</title>
 <%= csrf_meta_tags %>

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="navigation">
 <div id="schoolclash_text"><a href="/"><%= image_tag ("schoolclash.png") %></a></div>
 <% if not admin_signed_in? %>
     <div class="disabled">
 <% end %>
 <ul>
   <li class="<%= 'active' if current_page?(locations_path) %>"><%= image_tag ("home1.png") %><%= link_to 'Locations', locations_path, :class => 'btn' %></li>
   <li class="<%= 'active' if current_page?(questions_path) %>"><%= image_tag ("vragen.png") %><%= link_to 'Questions', questions_path, :class => 'btn' %></li>
   <li class="<%= 'active' if current_page?(groups_path) %>"><%= image_tag ("gebruikers1.png") %><%= link_to 'Groups', groups_path, :class => 'btn'  %></li>
 </ul>
 <% if not admin_signed_in? %>
     </div>
 <% end %>
</div>
<div id="topbar">
 <p><strong><%= yield(:title) %></strong></p>
 <div><%= image_tag ("logout.png") %><%= link_to('Logout', destroy_admin_session_path, :method => :delete, :class => 'btn') %></div>
</div>
<div class="container body">
 <br>
 <% if notice != nil %>
     <p class="notice alert alert-success"><%= notice %></p>
 <% end %>
 <% if alert != nil %>
     <p class="alert alert-danger"><%= alert %></p>
 <% end %>
 <%= yield %>
</div>
</body>
</html>