<!DOCTYPE html>
<html>
  <head>
    <title>Cms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <br>
  <% if notice != nil %>
  <p class="notice alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert != nil %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <div id="navigation">
      <% if admin_signed_in? %>
        <ul>
          <li><%= link_to 'Locations', locations_path, :class => 'btn btn-primary' %></li>
          <li><%= link_to 'Questions', questions_path, :class => 'btn btn-primary' %></li>
          <li><%= link_to 'Add Admin', new_admin_registration_path, :class => 'btn btn-primary' %></li>
          <li><%= link_to('Logout', destroy_admin_session_path, :method => :delete, :class => 'btn btn-primary') %></li>
        </ul>
    <% end %>
    </div>



    <%= yield %>
  </div>
  </body>
</html>
