<!DOCTYPE html>
<html>
  <head>
    <title>Cms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background">
  <div class="container">
  <br>
  <% if notice != nil %>
  <p class="notice alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert != nil %>
  <p class="error-messages"><%= alert %></p>
  <% end %>

    <row>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <%= image_tag 'logo.png', :class => 'logo'%>
        <%= yield %>
      </div>
      <div class="col-md-4"></div>
    </row>
  </div>
  </body>
</html>
